@charset "UTF-8";
/* CSS Document */

.dd_menu {padding:0px; margin:0; list-style-type:none; height:30px;}
.dd_menu li {float:left; height:30px;}
.dd_menu li a {padding:9px 20px; display:block; color:#fff; text-decoration:none; font:13px arial, verdana, sans-serif;}
.dd_menu li:hover a {text-decoration:none;}

.dd_menu ul {position:absolute; left:-9999px; top:-9999px; list-style-type:none;}
.dd_menu li:hover {position:relative; background:#595959;}
.dd_menu li:hover ul {left:0px; top:30px; background:#d3d2d2; padding:3px; width:160px;}
.dd_menu li:hover ul li {height:18px; border:none;}
.dd_menu li:hover ul li a {height:18px; padding:0px; display:block; font-size:11px; width:158px; line-height:18px; text-indent:15px; color:#444; background-color:#d3d2d2; text-decoration:none; border:1px solid transparent;}
.dd_menu li:hover ul li a:hover {height:18px; background:silver; color:#000; border:solid 1px #444;}
.textfieldbox {
	padding: 1px;
	height: 20px;
	width: 170px;
	border: 1px solid #DBDEDE;
	background-color: #FFFFFF;
}
.style63Copy {
	font-size: 12px;
	color: #b11010;
	text-transform: capitalize;
}
.Style50blackitalics {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-style: italic;
}
.Stylewhitesmall {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #FFF;
}
.style56 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	color: #A2B935;
}
.bluemedium {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #55ABDC;
}
.subheading59red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 26px;
	font-weight: bold;
	color: #b11010;
}
.subheading59rbw {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
}
.Heading {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}
.heading {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.style63Copy {
	font-size: 16px;
}
.style63bw {
	font-size: 16px;
	color: #000;
	font-style: normal;
}
.subheadred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 26px;
	color: #b11010;
}
.Stylewhitesmallnotbold {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight: normal;
}
.style148black {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}
.style631white {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #FFF;
}
.Style50black {
	font-family: Geneva, Helvetica, Arial;
	font-size: 12px;
	font-style: normal;
	color: ##000000;
}
