@charset "UTF-8";
/* CSS Document */

.dd_menu {padding:0px; margin:0; list-style-type:none; height:30px;}
.dd_menu li {float:left; height:30px;}
.dd_menu li a {padding:9px 20px; display:block; color:#212121; text-decoration:none; font:13px arial, verdana, sans-serif;}
.dd_menu li:hover a {text-decoration:none;}

.dd_menu ul {position:absolute; left:-9999px; top:-9999px; list-style-type:none;}
.dd_menu li:hover {position:relative; background:#595959;}
.dd_menu li:hover ul {left:0px; top:30px; background:#d3d2d2; padding:3px; width:160px;}
.dd_menu li:hover ul li {height:18px; border:none;}
.dd_menu li:hover ul li a {height:18px; padding:0px; display:block; font-size:11px; width:158px; line-height:18px; text-indent:15px; color:#444; background-color:#d3d2d2; text-decoration:none; border:1px solid transparent;}
.dd_menu li:hover ul li a:hover {height:18px; background:silver; color:#000; border:solid 1px #444;}
.textfieldbox {
	padding: 1px;
	height: 20px;
	width: 170px;
	border: 1px solid #DBDEDE;
	background-color: #FFFFFF;
}
.style13 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
}
.artbody12 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
}
.royalheading {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #FFF;
}
.royalresults {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #ED0000;
}
.royalbreed {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #BE0033;
}
.style18 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #FFF;
}
.whitemedium {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #FFF;
}
