body
{ background: #636363;
  color: #5A6370;
}

blockquote{border-color: #767676;}

#main
{ background: #FFF url(main.png) repeat-y;
  color: #5A6370;
}

#links, #footer, #menu, #menu li a
{ background: #FFF url(menu.png);
  color: #D1D3D7;
  border-color: #D7D7D7;
}

#links a, #footer a, #links a:hover, #footer a:hover
{ background: transparent;
  color: #D1D3D7;
}

#logo
{ background: #FFF url(logo.jpg) no-repeat;
  color: #5A6370;
}

h1
{ background: transparent;
  color: #1775D5;
  border-color: #89A9C7;
}

#menu li a:hover, #menu li a#selected, #menu li a#selected:hover
{ background: #FFF url(blue_menu.png);
  color: #484E56;
} 

#content, #column2 a, #column2 a:hover
{ background: transparent;
  color: #5A6370;
}

.sidebaritem, .sidebaritem a, .sidebaritem a:hover
{ background: transparent;
  color: #D1D3D7;
}

.sbihead
{ background: #FFF url(blue_sbi.png);
  color: #484E56;
}

.sbihead h1
{ background: transparent;
  color: #484E56;
}

.sbilinks li a
{ background: #FFF url(link.png);
  color: #D1D3D7;
} 

.sbilinks li a:hover
{ background: #B7B7B7;
  color: #1775D5;
} 
