body
{ background: #636363;
  color: #70695A;
}

blockquote{border-color: #767676;}

#main
{
	color: #000000;
	background-color: #FFFFFF;
	background-image: none;
	background-repeat: repeat-y;
}

#links, #footer, #menu, #menu li a
{
	color: #000000;
	border-color: #000000;
	background-color: #000000;
	background-image: url(menu.png);
}

#links a, #footer a, #links a:hover, #footer a:hover
{ background: transparent;
  color: #DBD7D1;
}

#logo
{
	color: #70695A;
	background-color: #FFF;
	background-repeat: no-repeat;
}

h1
{ background: transparent;
  color: #EA8916;
  border-color: #CAAE90;
}

#menu li a:hover, #menu li a#selected, #menu li a#selected:hover
{ background: #FFF url(orange_menu.png);
  color: #70695A;
} 

#content, #column2 a, #column2 a:hover
{
	color: #FFFFFF;
	background-color: #FFFFFF;
}

.sidebaritem, .sidebaritem a, .sidebaritem a:hover
{
	color: #DBD7D1;
	background-color: #666666;
}

.sbihead
{
	color: #70695A;
	background-color: #FF0000;
}

.sbihead h1
{
	background: transparent;
	color: #FFFFFF;
}

.sbilinks li a
{ background: #FFF url(link.png);
  color: #DBD7D1;
} 

.sbilinks li a:hover
{ background: #B7B7B7;
  color: #EA8916;
} 
