body
{ background: #636363;
  color: #6D5A70;
}

blockquote{border-color: #767676;}

#main
{ background: #FFF url(main.png) repeat-y;
  color: #6D5A70;
}

#links, #footer, #menu, #menu li a
{ background: #FFF url(menu.png);
  color: #DBD7DB;
  border-color: #D7D7D7;
}

#links a, #footer a, #links a:hover, #footer a:hover
{ background: transparent;
  color: #DBD7DB;
}

#logo
{ background: #FFF url(logo.jpg) no-repeat;
  color: #DBD7DB;
}

h1
{ background: transparent;
  color: #CF5AE8;
  border-color: #B383BF;
}

#menu li a:hover, #menu li a#selected, #menu li a#selected:hover
{ background: #FFF url(purple_menu.png);
  color: #524A54;
} 

#content, #column2 a, #column2 a:hover
{ background: transparent;
  color: #6D5A70;
}

.sidebaritem, .sidebaritem a, .sidebaritem a:hover
{ background: transparent;
  color: #DBD7DB;
}

.sbihead
{ background: #FFF url(purple_sbi.png);
  color: #524A54;
}

.sbihead h1
{ background: transparent;
  color: #524A54;
}

.sbilinks li a
{ background: #FFF url(link.png);
  color: #DBD7DB;
} 

.sbilinks li a:hover
{ background: #B7B7B7;
  color: #B61EC8;
} 
