/* CSS for the ShowScene section of the site  */

a, a:link {
	color: #C03;
}

a:visited {
	color: #906;
}

a:hover, a:focus {
	color: #F06;
}

a.readmore {
	display: inline-block;
	background-color: #fff;
	color: #333;
	border-radius: 5px;
	border: 1px solid #333;
	padding: .2em 1em;
	text-decoration: none;
}

a.readmore:hover,
a.readmore:focus {
	background-color: #A93726;
	color: #fff;
}